
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input, textarea, select, button {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}
textarea {
    height: 100px;
}
button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.read-only {
    background-color: #e9e9e9;
}
.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.back-home {
    margin-top: 20px;
    display: block;
    text-align: center;
    background-color:#4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.back-home:hover {
    background-color: #4CAF49;
}
