.border,
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 0.5px solid #000; */
    padding: 5px;
    /* background-color: rgba(26, 9, 100, 0.348) */


}

/* Header styles */
header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    color: #e53935;
}

/* Content styles */
.content {
    flex: 1 1 50%;
    padding-right: 40px;


}

.content p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    background-color: #e53935;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #c62828;
}

/* Image styles */
.image {
    flex: 1 1 50%;
}

.image img {
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .content {
        flex-basis: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .image {
        flex-basis: 100%;
    }
}

.nav.fables-footer-links a {
    text-decoration: none; /* Loại bỏ gạch chân */
    color: inherit; /* Để màu sắc kế thừa từ cha hoặc bạn có thể chỉ định một màu */
}