/* Định dạng cơ bản */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: #333;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li ul.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    padding: 10px 0;
    display: none;
    width: 150px;
}

nav ul li ul.submenu li {
    display: block;
}

nav ul li ul.submenu li a {
    padding: 10px;
    background-color: #555;
    color: white;
}

nav ul li ul.submenu li a:hover {
    background-color: #777;
}

/* Hiển thị menu con khi Labs được nhấn */
.hidden {
    display: none;
}

.show {
    display: block;
}
